.text {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; color: #FFCC66}
.text2 {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 10pt; color: #CC9966}
.textCopy { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; color: #FFCC66 }
